# Apriori

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from apyori import apriori

## Data Preprocessing

In [2]:
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header = None)
transactions = []
for i in range(0, dataset.shape[0]):
    transactions.append([str(dataset.values[i,j]) for j in range(0, dataset.shape[1])])

# Removing nan values from list    
for i in range(len(transactions)):
    transactions[i] = [x for x in transactions[i] if x != 'nan']

## Training the Apriori model on the dataset

In [3]:
rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)

In [4]:
result = list(rules)

In [16]:
result[1]

RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)])

In [6]:
# WARNING: Make sure to upload the apyori.py file into this Colab notebook before running this cell
# from apyori import apriori
# rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)

## Visualising the results

In [24]:
result[1][2][0][3]

3.790832696715049

In [28]:
def view_table(put_list):
    lhs = [tuple(i[2][0][0])[0] for i in put_list]
    rhs = [tuple(i[2][0][1])[0] for i in put_list]   
    support = [i[1] for i in put_list]
    confidence = [i[2][0][2] for i in put_list]
    lifts = [i[2][0][3] for i in put_list]
    
    return list(zip(lhs,rhs,support,confidence, lifts))

In [29]:
result_data = pd.DataFrame(view_table(result))

In [32]:
result_data.sort_values(4).head()

                0                  1         2         3         4
43    ground beef          spaghetti  0.005999  0.523256  3.005315
32      spaghetti             shrimp  0.005999  0.215311  3.013149
70      spaghetti  frozen vegetables  0.004533  0.288136  3.022804
55  mineral water        ground beef  0.003999  0.297030  3.023093
36    ground beef           tomatoes  0.003066  0.207207  3.029749